pipeline/class1-e.json
{
	"name": "class1-e",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('vr1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vr3",
								"value": {
									"value": "@pipeline().parameters.p2",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vr2",
								"value": {
									"value": "@pipeline().parameters.p1",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p1": {
				"type": "string",
				"defaultValue": "ram is good boy"
			},
			"p2": {
				"type": "string",
				"defaultValue": "sai is god"
			}
		},
		"variables": {
			"vr1": {
				"type": "String",
				"defaultValue": "false"
			},
			"vr2": {
				"type": "String"
			},
			"vr3": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-12T07:25:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}