pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('var1')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(variables('var1'),'bb')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"par": {
				"type": "array",
				"defaultValue": [
					"aa",
					"bb",
					"cc",
					"dd"
				]
			}
		},
		"variables": {
			"var1": {
				"type": "Array",
				"defaultValue": [
					"aa",
					"bb",
					"cc",
					"dd"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-15T08:21:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}